@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="home-welcome">Welcome to Online Coding Competition website</h1>
    <p class="home-welcome">
        This will help you to apply your knowlwdge and compete with your fellow classmates.
    <br />So start doing......</p>
</div>
