html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.box-shadow[b-2bos0jdq8r] {
    box-shadow: 0 .25rem .75rem #4F81BD !important;
}

.border-top {
    border-top: 1px solid #4F81BD !important;
}

button, input, optgroup, select, textarea {
    margin-top: 5px;
    font-family: inherit;
}

.btn-primary {
    color: #fff;
    background-color: #4F81BD;
    border-color: #4F81BD;
}

    .btn-primary:hover {
        background-color: #086080;
        border-color: #086080;
    }

.btn-outline-primary {
    color: #4F81BD;
    border-color: #4F81BD;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #086080;
        border-color: #086080;
    }

a {
    color: #4F81BD;
}

.container {
    max-width: 1300px;
}

.sec-left, .sec-right{
    width:600px;
}

.home-welcome{
    margin-top:50px;
}

.select-right {
    width: 200px;
    float: right;
    margin-right: 2px;
    height:40px;
}

.btn-bottom-1 {
    position: absolute;
    top: 102px;
    right: 600px;   
}

.btn-bottom-2 {
    position: absolute;
    top: 102px;
    right: 462px;
    
    /*left: 1200px;*/
}
.col{
    float:left !important;
}

.form-group{
    margin-top:8px;
}