html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.box-shadow[b-2bos0jdq8r] {
    box-shadow: 0 .25rem .75rem #4F81BD !important;
}

.border-top {
    border-top: 1px solid #4F81BD !important;
}

button, input, optgroup, select, textarea {
    margin-top: 5px;
    font-family: inherit;
}

.btn-primary {
    color: #fff;
    background-color: #4F81BD;
    border-color: #4F81BD;
}

    .btn-primary:hover {
        background-color: #086080;
        border-color: #086080;
    }

.btn-outline-primary {
    color: #4F81BD;
    border-color: #4F81BD;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #086080;
        border-color: #086080;
    }

a {
    color: #4F81BD;
}

.container {
    max-width: 1300px;
}

.sec-left, .sec-right{
    width:600px;
}

.home-welcome{
    margin-top:50px;
}

.select-right {
    width: 200px;
    float: right;
    margin-right: 2px;
    height:40px;
}

.btn-bottom-1 {
    position: absolute;
    top: 102px;
    right: 535px;   
}

.btn-bottom-2 {
    position: absolute;
    top: 102px;
    right: 400px;
    
    /*left: 1200px;*/
}
.col{
    float:left !important;
}

.form-group{
    margin-top:8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 1210px;
    right: 5px;
    bottom: 20px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: rgb(79, 129, 189);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(79, 129, 189);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.card {
    margin-top: 10px !important;
}

#runresult{
    margin-top:20px;
}