@model Coder.Models.Question

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 265px;
        right: 46px;
        bottom: 139px;
        left: 689px;
        height: 315px;
    }

    div.mce-edit-area {
        height: 200px !important;
    }

        div.mce-edit-area > iframe {
            height: 200px !important;
        }

    .btn-right {
        float: right !important;
    }

</style>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <h2>Edit Question</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionHeading" class="control-label"></label>
                <input asp-for="QuestionHeading" class="form-control" />
                <span asp-validation-for="QuestionHeading" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <textarea id="txtAreaQuestion" asp-for="QuestionText" class="form-control"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <div id="editor"></div>
                <!--<input asp-for="Answer" class="form-control" />-->
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TestCaseInput1" class="control-label"></label>
                <textarea asp-for="TestCaseInput1" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="TestCaseInput2" class="control-label"></label>
                <textarea asp-for="TestCaseInput2" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="TestCaseInput3" class="control-label"></label>
                <textarea asp-for="TestCaseInput3" class="form-control"></textarea>
            </div>



        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TestCaseOutput1" class="control-label"></label>
                <textarea asp-for="TestCaseOutput1" class="form-control"></textarea>
                <span asp-validation-for="TestCaseOutput1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCaseOutput2" class="control-label"></label>
                <textarea asp-for="TestCaseOutput2" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="TestCaseOutput3" class="control-label"></label>
                <textarea asp-for="TestCaseOutput3" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FinalDate" class="control-label"></label>
                <input asp-for="FinalDate" class="form-control" />
                <span asp-validation-for="FinalDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" asp-items="Model.difficulties" class="form-select">
                    <option disabled selected>Select Difficulty</option>
                </select>
                <!--<input asp-for="Difficulty" class="form-control" />-->
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="form-group btn-right">
                <input type="submit" value="Save" id="btnSubmit" class="btn btn-primary" />
            </div>

        </div>
    </div>
    <input type="hidden" asp-for="TeacherId" />
    <input type="hidden" id="hdnAnswer" asp-for="Answer" />
    <input type="hidden" asp-for="QuestionId" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="UpdatedOn" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/js/question.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



